legacy*

.env
*.pem

.terraform/
*.tfvars
*.tfstate
*.tfstate.backup
terraform.tfvars
frpc.toml

cloud/favicon.ico

local/backups
local/base-modpack.zip
local/config-overrides/minecraft-private.env
local/config-overrides/server-icon.png
local/manual-backups
local/modpack_build
local/modpack.zip
local/instances
# Ignore private config overrides